<span class="pull-right" data-cal-date="<%= data_day %>" data-cal-view="month"><%= month_name %></span>
<% if (events.length > 0) { %>
	window.slotCount = 0;
	window.appointmentCount = 0;
	<% if (((window.student == true && window.tutor == false) || (window.student == false && window.tutor == false))) {%>
		<% _.each(events, function(event) { %>
			<% if (event.class == 'event-success') { %>
			window.slotCount++;
		<% } %>
		<!-- <small class="cal-events-num badge badge-important pull-left"><%= window.slotCount %></small> -->
	<% } %>
	<% if (window.student == false && window.tutor == true) {%>
		window.appointmentCount = events.length - window.slotCount;
		<!-- <small class="cal-events-num badge badge-important pull-left"><%= window.appointmentCount %></small> -->
	<% } %>
	<!-- <small class="cal-events-num badge badge-important pull-left"><%= events.length %></small> -->
	<div class="hide events-list" data-cal-start="<%= start %>" data-cal-end="<%= end %>">
		<% _.each(events, function(event) { %>
		<% if (((window.student == true && window.tutor == false) || (window.student == false && window.tutor == false)) && event.class == 'event-success') {%>
			<a href="<%= event.url ? event.url : 'javascript:void(0)' %>" data-event-id="<%= event.id %>" data-event-class="<%= event['class'] %>"
				class="pull-left event <%= event['class'] %> event<%= event.id %>" data-toggle="tooltip"
				title="<%= event.title %>"></a>
		
		<% if (window.student == false && window.tutor == true && event.class == 'event-primary' ) {%>
			<a href="<%= event.url ? event.url : 'javascript:void(0)' %>" data-event-id="<%= event.id %>" data-event-class="<%= event['class'] %>"
				class="pull-left event <%= event['class'] %> event<%= event.id %>" data-toggle="tooltip"
				title="<%= event.title %>"></a>
		<% } %>
		<% }); %>
	</div>
<% } %>
